:root {
  --background-color: rgba(255, 255, 255, 1);
  --link-bg: rgba(207, 229, 255, 1);
  --content-bg: rgba(252, 252, 252, 1);
  --primary-100: rgba(54, 146, 255, 1);
  --primary-300: rgba(18, 81, 170, 1);
  --secondary-900: rgba(17, 24, 39, 1);
  --secondary-800: rgba(31, 41, 55, 1);
  --secondary-700: rgba(55, 65, 81, 1);
  --secondary-600: rgba(75, 85, 99, 1);
  --secondary-500: rgba(107, 114, 128, 1);
  --secondary-400: rgba(156, 163, 175, 1);
  --secondary-200: rgba(229, 231, 235, 1);
  --secondary-100: rgba(243, 244, 246, 1);
  --secondary-50: rgba(249, 250, 251, 1);

  --container-width: 1120px;
  --content-width: 988px;
  --header-height: 70px;
  --footer-height: 160px;

  --spacing-xs: 9px;
  --spacing-sm: 12px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 24px;
  --font-size-xl: 40px;
}
