@import url("reset.css");
@import url("common.css");

header {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
}

.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    min-width: 820px;
    height: 70px;
    padding: 9px 200px;
    margin: 0 auto;
    gap: 10px;
}

.header__btn--home {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn {
    white-space: nowrap; /*브라우저 줄였을 때 텍스트 줄바뀜 방지*/
}

.btn--home {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 700;
    font-size: 25.63px;
    font-family: var(--font-secondary);
    line-height: normal;
}

.btn--login{
    display: inline-block;
    width: 128px;
    height: 48px;
    background-color: var(--color-primary);
    text-decoration: none;
    color: var(--color-white);
    padding: 12px 20px;
    text-align: center;
    line-height: normal;
    border-radius: 8px;
}

.hero, .closing {
    background-color: var(--color-background-blue);
    height: 540px;
    display: flex;
    align-items: flex-end;
}

h2 {
    font-size: max(2vw, 32px); /*둘 중 브라우저 크기에 따라 큰 값을 적용*/
    font-weight: 700;
    line-height: 140%;
    margin: 0;
}

.container--hero, .container--closing {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--hero {
    height: 340px;
}

.container--closing {
    height: 397px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 260px;
    gap: 32px;
    padding-bottom: 60px;
    flex: 1 1 0;
    max-width: 100%;
}

.btn--hero {
    display: inline-block;
    width: 357px;
    height: 56px;
    background-color: var(--color-primary);
    text-decoration: none;
    color: var(--color-white);
    padding: 16px 124px;
    text-align: center;
    line-height: normal;
    border-radius: 40px;
}

.img--hero, .img--closing {
    max-width: 100%;
    flex: 1 1 0;
    object-fit: cover;
}

.closing__description{
    max-width: 100%;
    flex: 1 1 0;
}

.container--white {
    background-color: var(--color-background-light);
    max-width: 988px;
    height: 444px;
    display: flex;
    border-radius: 12px;
    gap: 64px;
    margin: 276px auto;
}

.container--white:nth-child(2) {
    margin-top: 138px; /*흰배경 섹션 중 첫번째 섹션에만 윗 마진을 다르게 주기위해*/
}

.img--main {
    width: 579px;
    height: 444px;
    flex: 1 1 auto;
    object-fit: cover;
}

.container__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 24px;
    flex: 1 1 auto;
}

.container--white.align-right {
    justify-content: flex-end;
    text-align: right;
}

.main__title {
    color: var(--color-primary);
    font-weight: 700;
    line-height: 26px;
    font-size: max(0.9vw, 14px);
}

.container__description.align-right {
    padding-right: 0;
    padding-left: 24px;
}

.description--main {
    font-weight: 500;
    line-height: 32px;
    font-size: max(1.23vw, 20px);
}

footer {
    background-color: var(--color-background-dark);
    height: 160px;
    padding: 32px calc((100% - 1120px) / 2); /*전체 배경 - width 좌우 패딩이니까 2로 나눔*/
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.copyright {
    color: var(--color-text-grey);
    margin: 0;
    flex: 0 1 auto;
}

.footer__urls {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex: 1 1 auto;
}

.url--privacy, .url--faq {
  text-decoration: none;
  color: var(--color-text-light);
}

.footer--icons {
  display: flex;
  flex: 0 1 auto;
  gap:12px;
}