
@font-face {
    /*Pretendard폰트*/
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    /* font-size: 16px; */
    font-size: 0.83333333vw;
    /*
    => 가변 사이즈로
       브라우저 너비 1920=> 100vw  
      16/1920*100 =0.83333...
    */

  /* 컨테이너 관련 변수 */
  --container-width: 70rem;
  --container-margin: 0 auto;
  
  /* 색상 변수 */
  --primary-color: #3692FF;
  --primary-hover: #1251AA;
  --secondary-color:#FCFCFC;
  --background-color: #CFE5FF;
  --text-color: #374151;
}

body {
    background-color: var(--background-color);
    width: 100vw;
    overflow-x: hidden;
}

.wrap {
    background-color: var(--secondary-color);
    font-family: 'Pretendard-Regular', sans-serif;
    color: var(--text-color);
    max-width: 1920px;
    margin: 0 auto;
}

.w1120 { /*다음 커밋에서 선택자 네이밍 다시*/
    margin: var(--container-margin);
    width: var(--container-width);
}

.nav-side-margin { /* 추후 브라우저 창 줄일 시 nav여백 고정할 클래스*/
    margin: 0 auto;
    width: 1120px;
}

/* Header */
header {
    height: 4.375rem;
    padding: 0.5625rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 3.1875rem;
}

.logo {
    display: inline-block;
    width: 9.5625rem;
}

.login-btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    padding: 0.75rem 1.4375rem;
    height: 3rem;
    width: 8rem;
    font-size: 1rem;
    line-height: 1.625rem;
}

.login-btn:hover {
    background-color: var(--primary-hover);
}

/* Main */
section.main-img-area {
    background-color: var(--background-color);
    height: 33.75rem;
}

article.main-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4375rem;
    padding-top: 12.5rem; /*아랫단 맞추기*/
}

article.main-img-wrap div.main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 3.75rem;
}

article.main-img-wrap>div h2 {
    font-weight: 700;
    line-height: 140%;
    font-size: 2.5rem;
}

article.main-img-wrap>div button {
    background-color: var(--primary-color);
    height: 56px;
    border: none;
    cursor: pointer;
    padding: 0 7.75rem;
    height: 3.5rem;
}

article.main-img-wrap>div button:hover {
    background-color: var(--primary-hover);
}

article.main-img-wrap>div button span {
    display: inline-block;
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: #F9FAFB;
    height: 2rem;
    line-height: 2rem;
}

.main-img {
    width: 46.625rem;
    height: 21.25rem;
}

/* hot-item */
.hot-item,
.search,
.register {
    /*각 영역 section 공통 설정*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 45rem;
}

section>.contents {
    /*각 영역 article 공통 설정*/
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    gap: 4rem;
    width: 61.75rem;
    padding: 0 1.5rem;
}

section>article img {
    width: 36.1875rem;
    height: 27.75rem;
}

main section article>div>span {
    /* 각 영역의 파란색 글씨들(Hot item, Search, Register) */
    font-weight: 700;
    color: var(--primary-color);

    font-size: 1.125rem;
    line-height: 1.625rem;
}

.contents>div>h2 {
    /* 각 영역의 굵은 글씨 */
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.02em; /*2%*/
    margin-top: 0.75rem;
    font-size: 2.5rem;
}

.contents>div p {
    /*각 영역의 설명(p태그)*/
    font-weight: 500;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

/* search */
.search-text {
    text-align: right;
}

/*register*/
.register .contents {
    padding: 0;
    /*양 옆 패딩 없음*/
}

.register .contents img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* ad */
.ad-banner {
    background-color: var(--background-color);
    height: 33.75rem;
    margin-top: 8.625rem;
    padding-top: 8.9375rem;
}

.ad-banner>div {
    display: flex;
    align-items: center;
    gap: 4.3125rem;
}

.ad-banner .ad-text {
    font-weight: 700;
    line-height: 140%;
    font-size: 2.5rem;
    padding-bottom: 3.75rem;
}

.ad-banner img {
    width: 46.625rem;
}

/* Footer */
footer {
    background-color: #111827;
    color: #fff;
    height: 10rem;
    padding: 2rem 0;
}

.footer-content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 1.25rem;
}

.footer-content {
    color: #9CA3AF;
}

.footer-content>div {
    display: flex;
    align-items: center;
    flex-basis: 9.9375rem;
    gap: 1.875rem;
}

.footer-content>div a {
    color: #E5E7EB;
    display: inline-block;
}

.sns-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 7.25rem;
}

.sns-list li img {
    width: 1.25rem;
    height: 1.25rem;
}

@media screen and (min-width: 1920px) {
    /*1920 이상일 때 root font-size:16px고정*/
    :root {
        font-size: 16px;
    }
}

@media screen and (max-width: 1520px) {
    /*1520보다 작을 때 nav여백만 200px고정*/
    .nav-side-margin {
        margin: 0 200px;
        width: auto;
    }
}