* {
    box-sizing: border-box;
}
  
html {
    font-size: 16px;
    font-family: 'Pretendard-Regular', sans-serif;
    color: #374151;     
}
  
body {
    width: 1920px;
    margin: 0 auto;
    width: 100%;
}

header {
    margin: 0;
    padding: 10px 0;
    height: 70px;
    background-color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    container-name: main-container; /* 컨테이너 쿼리 요소 이름 */
    container-type: inline-size;
}

.header {
    display: flex;
    margin: 0 200px;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    background-color: #ffffff;
    max-width: 1120px;
}

@media screen and (min-width: 1920px) {
    .header {
      margin: 0 auto;
    }
  }

.logo {
    height: 51px;
}

.login {
    padding: 12px 23px;
    border-radius: 8px;
    background: #3692FF;
    color: #ffffff;
    height: 48px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.banner {
    position: relative;
    min-height: 390px;
    max-height: 540px;
    background-color: #CFE5FF;
    overflow: auto;

}

@media screen and (min-width: 1920px) {
    .banner {
        height: 540px;
    }
  }

@media screen and (max-width: 1920px) {
.banner {
    height: 28.125vw;   /* 540/19.2 */
}
}  

.banner .containerbox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* flex-wrap: nowrap; */
    min-width: 744px;
    max-width: 1110px;
    height: 340px;      /*container 쿼리 써보기*/
    max-height: 340px;
}

#bannerTop .container1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    gap: 32px;
    max-width: 357px;
    max-height: 260px;
}

.banner .container2 {
    position: relative;
    object-position: center;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.banner .container2 img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#bannerBottom .containerbox {
    height: 397px;
    max-height: 397px;
    gap: 69px;
    align-items: center;
}

.banner p {
    /* font-size: 40px; */
    font-size: clamp(1.5rem, 4vw, 40px);
    font-weight: 700;
    line-height: 140%;
    margin: 0;
    white-space: nowrap;
}

#bannerBottom .container1 p {
    padding-bottom: 60px;
}

.item {
    padding: 16px 124px;
    border-radius: 40px;
    background: #3692FF;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    /* font-size: 20px; */
    font-size: clamp(1rem, 4vw, 20px);
    line-height: 32px;
    white-space: nowrap;
    max-height: 56px; 
    max-width: 357px;
    gap: 10px;
}

.page {
    padding: 138px 466px;
    height: 720px;    
    max-height: 720px;
}

.pageContainer {
    display: flex;
    align-items: center;
    gap: 0 64px;
    width: 998px;
    height: 444px;
    border-radius: 12px;
    background-color: #fcfcfc;
}

.pageContainer img {
    max-width: 579px;
    height: 100%;
}

.pageContainerText {
    padding-right: 24px;
    height: fit-content;
    vertical-align: middle;
}

.pageContainerItemSubject {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    vertical-align: middle;
    color: #3692FF;
}

.pageContainerItemTitle {
    margin: 12px 0 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.02rem;
    vertical-align: middle;
    color: #374151;
    white-space: nowrap;
}

.pageContainerItemDesc {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #374151;
    white-space: nowrap;
}

.pageContainer.pageContainerImageRight .pageContainerText {
    padding: 0;
    margin-left: 24px;
    text-align: right;
}

.hr {
    width: 100%;
    height: 120px;
    background-color: #FCFCFC;
}

footer {
    height: 160px;
    background-color: #111827;
    color: #E5E7EB;
    font-weight: 400;
    line-height: 100%;
}

.footer {
    width: 1120px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;    
}

.copyright {
    color: #9CA3AF;
}

.privAndFaq {
    display: flex;
    gap: 30px;
}

.privacy {
    display: inline-block;
    color: #E5E7EB;
    text-decoration: none;
}

.faq {
    display: inline-block;
    color: #E5E7EB;
    text-decoration: none;
}

.sns {
    display: flex;
    gap: 12px;
}

.sns a {
    width: 20px;
    height: 20px;
}

