/* ====== common ====== */
#wrap {
  background: #fcfcfc;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  color: #fff;
  font-weight: 600;
  background: #3692ff;
  transition: background 0.2s ease;
}
.btn:not(.white):hover {
  background: #1967d6;
}
.btn:not(.white):active {
  background: #1251aa;
}
.btn:not(.white):disabled {
  background: #9ca3af;
  cursor: default;
}

.btn.white {
  border: 1px solid #3692ff;
  color: #3692ff;
  background: #f9fafb;
}

/* small */
.btn.sm {
  min-width: 88px;
  height: 48px;
  font-size: 16px;
  border-radius: 8px;
}

/* medium */
.btn.md {
  min-width: 240px;
  height: 48px;
  font-size: 18px;
  border-radius: 40px;
}

/* large */
.btn.lg {
  min-width: 357px;
  height: 56px;
  font-size: 18px;
  border-radius: 40px;
}

.btn.h40 {
  height: 40px;
}

.inner {
  max-width: 1120px;
  width: calc(100% - 32px);
  margin: 0 auto;
}

/* header */
.header {
  /* position: sticky;
  top: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: #fff;
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo a {
  display: block;
  width: 153px;
}

/* footer */
.footer {
  padding: 32px 0 108px;
  background: #111827;
}
.footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .copy {
  color: #9ca3af;
}
.footer .foot_link ul {
  display: flex;
  align-items: center;
}
.footer .foot_link ul a {
  display: block;
  padding: 0 15px;
  color: #e5e7eb;
}
.footer .sns_link ul {
  display: flex;
  align-items: center;
}
.footer .sns_link ul a {
  display: block;
  padding: 0 6px;
}

@media screen and (max-width: 1200px) {
  .header .inner {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 480px) {
  .btn.sm {
    min-width: 128px;
    font-size: 16px;
  }
  .btn.lg {
    min-width: 240px;
    height: 48px;
    font-size: 18px;
  }
  .footer {
    padding: 32px 0 65px;
  }
  .footer .inner {
    position: relative;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 25px;
  }
  .footer .foot_link ul {
    gap: 30px;
  }
  .footer .foot_link ul a {
    padding: 0;
  }
  .footer .sns_link {
    position: absolute;
    top: 0;
    right: 0;
  }
}
