/* ====== reset ====== */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  word-break: keep-all;
}

html,
body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  color: #374151;
  font-size: 16px;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}
