@media (max-width: 767px) {
  .login-form {
    justify-content: flex-start;
    height: 140vh;

    box-sizing: border-box;
    padding: 80px 16px;
  }
  .login-form-img {
    width: 198px;
  }
  .login-form_form {
    max-width: 400px;
    min-width: 343px;
    width: 100%;
  }

  .login-form_form-input input {
    max-width: 400px;
    min-width: 343px;
    width: 100%;
  }

  .input-icon {
    right: var(--spacing-sm);
  }

  .signup-form {
    padding: 24px 16px;
    margin-top: 0;
  }
}
