.wrapper {
    padding: 0 16px;
    /* 좌우 여백 16px */
}

.login-logo {
    width: 198px;
}

label {
    font-size: 14px;
}

input,
.btn,
.input-field,
.social-login {
    width: 100%; /* 다시 명시!(auth.css에 이미 있음) */
    max-width: 400px;
}