.wrapper {
    width: 100%;
    max-width: 1200px;
    /* 왜 max-width?*/
    margin: 0 auto;
}

.wrapper--narrow {
    max-width: 988px;
}

/* Hero 섹션 스타일 */
#hero {
    background-image: url(/images/Img_home_top.png);
}
#bottom{
    background-image: url(/images/Img_home_bottom.png);
}

.banner {
    display: flex;
    background-position: 80% bottom;
    background-size: 55%;
    background-repeat: no-repeat;
    height: 540px;
    align-items: center;
    background-color: #CFE5FF;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #374151;
    line-height: 1.4;
    margin-bottom: 32px;
}

/* item section */
.features {
    padding-bottom: 138px;
}

.feature {
    padding: 138px 0;
    display: flex;
    align-items: center;
    gap: 5%;
}

.feature-content {
    flex: 1;
}

.feature:nth-of-type(even) .feature-content {
    text-align: right;
}


.feature-tag {
    color: #3692ff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 12px;
}

.feature img {
    width: 55%;
}

.feature-description {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.08em;
    margin-top: 24px;
}