@media (min-width: 375px) and (max-width: 767px) {
  header {
    padding: 0 16px;
  }
  footer {
    padding: 32px 32px 64px 32px;
  }
  h1 {
    font-size: 32px;
  }
  .logo-img {
    display: none;
  }
  .pill-button {
    font-size: 20px;
  }
  .banner .pill-button {
    display: block;
    margin: 24px auto;
  }
  .description .br-control {
    display: none;
  }
  .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 24px;
    padding: 40px 0;;
  }
  .feature-box img {
    width: 100%;
  }
  .feature-box.reverse {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .feature-tag,
  .description {
    font-size: var(--text-base);
    line-height: 26px;
    margin: 0;
  }
  .description h1 {
    font-size: var(--text-2xl);
  }
  .banner {
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
  }
  .layout-container.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
  }
  
  .layout-container.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
  }

  .auth-contents {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    margin: 0 auto;
    gap: 24px;
  }
  .auth-logo {
    gap: 8px;
  }

  .auth-logo img {
    width: 40px;
    height: 40px;
  }
  .auth-logo a {
    font-size: 45px;
  }

  .login-content {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  form,
  input,
  .auth-button,
  .other-login {
    width: 100%;
    max-width: 400px;
    gap: 12px;
  }
  label,
  input {
    font-size: var(--text-sm);
  }

}

@media (min-width : 768px) and (max-width: 1199px) {
  header {
    padding: 0 24px;
  }
  footer {
    padding: 32px 104px 64px 104px;
  }
  h1 {
    font-size: var(--text-3xl);
  }
  .pill-button {
    font-size: 20px;
  }
  .banner .pill-button {
    display: block;
    margin: 24px auto;
  }
  .br-control {
    display: none;
  }
  .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 24px;
    padding: 40px 0;;
  }
  .feature-box img {
    width: 100%;
  }
  .feature-box.reverse {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .feature-tag,
  .description {
    font-size: var(--text-lg);
    line-height: 26px;
    margin: 0;
  }
  .description h1 {
    font-size: 32px;
  }
  .banner {
    background-position: center bottom;
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
  }
  .layout-container.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 450px;
  }
  
  .layout-container.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 450px;
  }
}
