* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;   
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

body {
  color: var(--text-dark);
  font-family: Pretendard, sans-serif;
}