@charset "utf-8";
@import "reset.css";
@import "common.css";
@import "variables.css";

/*=== 메인 페이지 ===*/
/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4.375rem;
  padding: 0 12.5rem;
  z-index: 9;
  background: #fff;
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.625rem 0;
}

.logo {
  width: 9.625rem;
}

.login-button {
  width: 8rem;
  height: 3rem;
}

/* section */
.section {
  display: flex;
  justify-content: center;
  padding: var(--spacing-large) 0;
  background: #fff;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--container-width-small);
  gap: 4rem;
  background: var(--background-light);
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.section-container img {
  width: 36.25rem;
}

.section-label {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--primary-color);
}

.section-title {
  margin-bottom: 1.5rem;
}

.section-desc {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--text-primary);
}

.section-search {
  text-align: right;
}
.section-search .section-container img {
  order: 2;
}

.section-register .section-container {
  justify-content: flex-start;
}

/* banner */
.banner {
  background: #cfe5ff;
}

.banner-container {
  height: 33.75rem;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 46.625rem;
}

.banner.banner-hero .banner-container {
  background-image: url("../../images/Img_home_top.png");
}

.banner:not(.banner-hero) {
  margin-top: var(--spacing-large);
}

.banner .banner-container {
  background-image: url("../images/Img_home_bottom.png");
}

.banner-info {
  padding-top: 15rem;
}

.banner .banner-info {
  padding-top: 16rem;
}

.banner-title {
  margin-bottom: 2rem;
}

.banner-info a {
  display: inline-block;
  width: 22.25rem;
  margin-bottom: 6.25rem;
  font-size: 1.25rem;
}

/* footer */
.footer {
  background: var(--gray900);
  color: var(--gray200);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 6.75rem;
}

.copyright {
  color: var(--gray400);
}

.footer-menu {
  display: flex;
  gap: 1.875rem;
}

.sns {
  display: flex;
  gap: 0.75rem;
}

/*=== 로그인 페이지 ===*/
.easy-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius-xs);
  background: var(--background-blue);
  font-size: 1rem;
  color: var(--gray800);
}

.easy-login-icons {
  display: flex;
  gap: 1rem;
}

/*=== responsive ===*/
/* desktop */
@media (max-width: 1600px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1120px) {
  .header-container,
  .banner-container,
  .footer-container {
    width: 100%;
  }

  .banner-info {
    padding: 15rem 1.5rem 0;
  }

  .footer-container {
    padding: 2rem 1.5rem 6.75rem;
  }
}

/* tablet */
@media (max-width: 1024px) {
  .header {
    padding: 0 1.5rem;
  }

  .banner-container {
    margin: 0;
    background-size: 60vw;
    background-position: 40vw bottom;
  }

  .section-container {
    width: 100%;
    background: #fff;
  }

  .section-register .section-container {
    justify-content: center;
  }

  .section-container img {
    width: 50%;
  }
}

/* large mobile */
@media (max-width: 767px) {
  .header-container,
  .banner-container,
  .footer-container {
    width: 100%;
  }

  .banner.banner-hero {
    margin-bottom: 1.5rem;
    height: 55rem;
  }

  .banner:not(.banner-hero) {
    margin-top: 4rem;
    height: 66.214rem;
  }

  .banner-container {
    height: 100%;
    background-size: 100%;
    background-position: center bottom;
  }

  .banner-info {
    padding-top: 6rem;
    text-align: center;
  }
  .banner .banner-info {
    padding-top: 14.286rem;
  }

  .section {
    margin-bottom: 3.25rem;
    padding: 0 1.5rem;
  }

  .section-container {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0;
    gap: 1.5rem;
  }
  .section-search .section-container {
    align-items: flex-end;
  }

  .section-container img {
    width: 100%;
  }

  .section-search .section-container img {
    order: 0;
  }

  .easy-login-icons img {
    width: 44px;
  }
}

@media (max-width: 640px) {
  .form-container form {
    width: 100%;
    padding: 0 1.5rem;
  }

  form .logo {
    width: 65%;
  }
}

/* mobile */
@media (max-width: 480px) {
  h2 {
    font-size: 1.714rem;
  }

  .banner.banner-hero,
  .banner:not(.banner-hero) {
    height: 540px;
  }

  .banner-info {
    padding-top: 8.571rem;
  }

  .banner-hero .banner-info {
    width: 240px;
    margin: 0 auto;
    padding: 3.429rem 0 0;
  }

  .banner-title {
    font-size: 2.286rem;
  }

  .banner-info a {
    width: 100%;
    padding: 10px;
  }

  .section-title {
    margin-bottom: 1.143rem;
  }

  .section-desc {
    font-size: 1.143rem;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .copyright {
    order: 3;
    width: 100%;
    gap: 1.714rem;
  }
}
