@charset "utf-8";
@import "reset.css";
@import "common.css";
@import "variables.css";

/* header */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4.375rem;
  padding: 0 12.5rem;
  z-index: 9;
  background: #fff;
  display: flex;
}

header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.625rem 0;
}

header .logo {
  width: 9.625rem;
  height: 3.25rem;
}

header .login-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
}

/* section */
section {
  padding: var(--spacing-large) 0;
  background: #fff;
}

section .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--inner-width-small);
  gap: 4rem;
  background: var(--background-light);
  border-radius: 20px;
  overflow: hidden;
}

section .inner img {
  width: 36.25rem;
}

section .info .info-label {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--primary-color);
}

section .info h2 {
  margin-bottom: 1.5rem;
}

section .info p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--text-primary);
}

.section-search {
  text-align: right;
}
.section-search .inner img {
  order: 2;
}

.section-register .inner {
  justify-content: flex-start;
}

/* banner */
.banner {
  background: #cfe5ff;
}

.banner .inner {
  height: 33.75rem;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 46.625rem;
}

.banner.top .inner {
  background-image: url("../../images/Img_home_top.png");
}

.banner.bottom {
  margin-top: var(--spacing-large);
}

.banner.bottom .inner {
  background-image: url("../images/Img_home_bottom.png");
}

.banner .info {
  padding-top: 15rem;
}

.banner.bottom .banner .info {
  padding-top: 16rem;
}

.banner .info h2 {
  margin-bottom: 2rem;
}

.banner .info a {
  display: inline-block;
  margin-bottom: 6.25rem;
  padding: 1rem 7.75rem;
  border-radius: 40px;
  font-size: 1.25rem;
}

/* footer */
footer {
  background: var(--gray900);
  color: var(--gray200);
}

footer .inner {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 6.75rem;
}

.copyright {
  color: var(--gray400);
}

.footer-menu {
  display: flex;
  gap: 1.875rem;
}

.sns {
  display: flex;
  gap: 0.75rem;
}

/*=== responsive ===*/
/* desktop */
@media (max-width: 1600px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1120px) {
  .inner {
    width: 100%;
  }

  .banner .info {
    padding: 15rem 1.5rem 0;
  }
}

/* tablet */
@media (max-width: 1024px) {
  header {
    padding: 0 1.5rem;
  }

  .banner .inner {
    margin: 0;
    background-size: 60vw;
    background-position: 40vw bottom;
  }

  section .inner {
    width: 100%;
    background: #fff;
  }

  .section-register .inner {
    justify-content: center;
  }

  section .inner img {
    width: 50%;
  }

  footer .inner {
    width: 100%;
    padding: 2rem 1.5rem 6.75rem;
  }
}

/* large mobile */
@media (max-width: 767px) {
  .inner {
    width: 100%;
  }

  .banner.top {
    margin-bottom: 1.5rem;
    height: 55rem;
  }

  .banner.bottom {
    margin-top: 4rem;
    height: 66.214rem;
  }

  .banner .inner {
    height: 100%;
    background-size: 100%;
    background-position: center bottom;
  }

  .banner .info {
    padding-top: 6rem;
    text-align: center;
  }
  .banner.bottom .info {
    padding-top: 14.286rem;
  }

  section {
    margin-bottom: 3.25rem;
    padding: 0 1.5rem;
  }

  section .inner {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0;
    gap: 1.5rem;
  }
  section.section-search .inner {
    align-items: flex-end;
  }

  section .inner img {
    width: 100%;
  }

  .section-search .inner img {
    order: 0;
  }
}

/* mobile */
@media (max-width: 480px) {
  .banner.top,
  .banner.bottom {
    height: 540px;
  }

  .banner .info {
    width: 240px;
    margin: 0 auto;
    padding: 3.429rem 0 0;
  }

  .banner.bottom .info {
    padding-top: 8.571rem;
  }

  .banner .info h2 {
    font-size: 2.286rem;
  }

  .banner .info a {
    width: 100%;
    padding: 10px;
  }

  h2 {
    font-size: 1.714rem;
  }

  section .info h2 {
    margin-bottom: 1.143rem;
  }

  section .info p {
    font-size: 1.143rem;
  }

  footer .inner {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .copyright {
    order: 3;
    width: 100%;
    gap: 1.714rem;
  }
}
