.wrapper {
    width: 100%;
    max-width: 991px;
    /* 왜 max-width?*/
    margin: 0 auto;
}
.wrapper--narrow {
    max-width: 961px;
}
.banner{
    height: 771px;
    background-position: bottom;
}
#hero {
    background-image: url(/images/Img_home_top.png);
}
#bottom{
    background-image: url(/images/Img_home_bottom.png);
}
.banner {
    display: flex;
    background-position: bottom;
    /* background-size: 80%; */
    background-repeat: no-repeat;
    height: 771px;
    background-color: #CFE5FF;
    text-align: center;
    padding-top: 84px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #374151;
    line-height: 1.4;
    margin-bottom: 32px;
}

.features {
    padding-bottom: 52px;
}

.feature {
    padding: 52px 0;
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    text-align: left;
    gap: 24px;
}

.feature-content {
    flex: 1;
}

.feature:nth-last-of-type(even){
    flex-direction: column-reverse;
}
.feature:nth-of-type(even) .feature-content {
    text-align: right;
}
.feature h1 br {
    display: none;
  }

.feature-tag {
    color: #3692ff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 12px;
}

.feature-description {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.08em;
    margin-top: 24px;
}




footer{
    padding: 12px 12px 32px 12px;
}