@charset "utf-8";
:root {
  /* colors */
  --primary-color: #3692ff;
  --text-primary: #374151;
  --background-light: #fcfcfc;

  /* layout */
  --inner-width: 70rem;
  --inner-width-small: 61.75rem;
  --spacing-large: 8.625rem;
}
