@charset "utf-8";
:root {
  /* colors */
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray600: #4b5563;
  --gray700: #374151;
  --gray800: #1f2937;
  --gray900: #111827;
  --blue: #3692ff;
  --primary-color: var(--blue);
  --primary-hover-color: #1967d6;
  --primary-click-color: #1251aa;
  --text-primary: var(--gray600);
  --background-light: #fcfcfc;

  /* layout */
  --inner-width: 70rem;
  --inner-width-small: 61.75rem;
  --spacing-large: 8.625rem;
}
